[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="app" v-cloak>
  <h1 class="title">Shopping List</h1>

  <div class="container">
    <shopping-list></shopping-list>
  </div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_data_url = "[[=XML(load_data_url)]]";
  let add_url = "[[=XML(add_url)]]";
  let set_check_url = "[[=XML(set_check_url)]]";
  let remove_url = "[[=XML(remove_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
